# {{ ansible_managed }}
# all
{% if server_scripts_mailto is defined %}
MAILTO="{{ server_scripts_mailto }}"
{% endif %}

# dbdump, dbundump
DB_BACKUPS_ROOT="{{ server_scripts_dbdump_dir }}"
DB_BACKUPS_LOG="{{ server_scripts_dbdump_log }}"

{% if server_scripts_dbdump_remote_user is defined %}
DB_BACKUPS_REMOTE_USER="{{ server_scripts_dbdump_remote_user }}"
{% endif %}
{% if server_scripts_dbdump_remote_host is defined %}
DB_BACKUPS_REMOTE_HOST="{{ server_scripts_dbdump_remote_host }}"
{% endif %}
DB_BACKUPS_REMOTE_DIR="{{ server_scripts_dbdump_remote_dir }}"

DB_BACKUPS_EXCLUDED_DBS="{{ server_scripts_dbdump_excluded_dbs }}"
DB_BACKUPS_CLEAN_OLDER_DAYS="{{ server_scripts_dbdump_clean_older_days }}"
DB_BACKUPS_CLEAN_OLDER_DAYS_TO_ONE="{{ server_scripts_dbdump_clean_older_days_to_one }}"

# backups-check
BACKUPS_CHECK_DIRS=( \
{{ server_scripts_check_dirs }})

# db-size
DB_SIZE_NAMES_FILE="{{ server_scripts_db_size_names_file }}"
DB_SIZE_SIZES_FILE="{{ server_scripts_db_size_sizes_file }}"
DB_SIZE_CACHE_MINS="{{ server_scripts_db_size_cache_mins }}"

# domains-check
DOMAINS_CHECK_DNS="{{ server_scripts_domains_check_dns }}"
DOMAINS_CHECK_ASSERT_IP="{{ server_scripts_domains_assert_ip }}"

# detect-viruses
VIRUSES_LOG="{{ server_scripts_detect_viruses_log }}"
VIRUSES_PHP_SIGNATURES="{{ server_scripts_detect_viruses_php_signatures }}"
VIRUSES_JS_SIGNATURES="{{ server_scripts_detect_viruses_js_signatures }}"

# drupal-build-archives
DRUPAL_PROJECTS_ROOT="{{ server_scripts_drupal_build_archives_projects_root }}"
DRUPAL_PROJECTS_BUILD_ROOT="{{ server_scripts_drupal_build_archives_build_root }}"

# drupal-enable-caches
DRUPAL_CACHE_LIFETIME="{{ server_scripts_drupal_enable_caches_cache_livetime }}"
DRUPAL_PAGE_CACHE_MAXIMUM_AGE="{{ server_scripts_drupal_enable_caches_page_cache_maximum_age }}"

# drupal-get-drupals
DRUPAL_ROOT_LEVEL="{{ server_scripts_drupal_get_drupals_root_level }}" # for /home/user/www/example.com
SITE_EXCLUDED_FILE="{{ server_scripts_drupal_get_drupals_site_excluded_file }}"
SITE_INFO_FILE="{{ server_scripts_drupal_get_drupals_site_info_file }}"

# get-password
PASSWORD_LENGTH="{{ server_scripts_drupal_get_password_length }}"

# influxdb-annotate
INFLUXDB_HOST="{{ server_scripts_influxdb_annotate_host }}"
INFLUXDB_PORT="{{ server_scripts_influxdb_annotate_port }}"
INFLUXDB_USER="{{ server_scripts_influxdb_annotate_user }}"
INFLUXDB_PASSWORD="{{ server_scripts_influxdb_annotate_password }}"
INFLUXDB_DATABASE="{{ server_scripts_influxdb_annotate_database }}"

# influxdb-clientstat
INFLUXDB_CLIENTSTAT_NGINX_LOG_FILE="{{ server_scripts_influxdb_clientstat_nginx_log }}"

# sites-load
SITES_LOAD_TIME_ENABLED="{{ server_scripts_influxdb_sites_load_time_enabled }}"
SITES_LOAD_LOG_FILE="{{ server_scripts_influxdb_sites_load_log_file }}"

# ssh-add-keys
SSH_PUBLIC_KEYS_DIR="{{ server_scripts_influxdb_ssh_add_keys_path }}"
